body {
    background: #EEE;
}

h2 {
    font-size: 60px;
    font-family: 'Homenaje', sans-serif;
    margin-bottom: 50px;
}


#logo {
    margin-top: 5px;
}

#content-container {
    padding: 100px 0 100px 0;
    background: #FFF;
}

.gist-container {
    text-align: center;
}

.gist-container-iframe {
    margin-top: 10px;
}

iframe {
    border: 0;
}

footer {
    margin-top: 20px;
}

    footer ul {
        margin: 0;
        padding: 0;
    }

        footer li {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
        }
